<!-- <table >
    <tr>
        <td>EmpName</td>
        <td><input type="text" name="empName" [(ngModel)]="empName" /></td>
    </tr>
    <tr>
        <td>Salary</td>
        <td><input type="text" name="salary" [(ngModel)]="salary" /></td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>
            <select name="gender" [(ngModel)]="gender" >
                <option value="" selected>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
            </select>
        </td>
    </tr>
    
    <tr>
        <td>DateOfJoin</td>
        <td><input type="date" name="doj" [(ngModel)]="doj" /></td>
    </tr>
    
    <tr>
        <td>Country</td>
        <td>
            <select name="country" [(ngModel)]="country" >
                <option value="" selected>Select Country</option>
                <option value="IND">INDIA</option>
                <option value="USA">USA</option>
                <option value="CAN">Canada</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>EmailId</td>
        <td><input type="text" name="emailId" [(ngModel)]="emailId" /></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" name="password" [(ngModel)]="password" /></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button (click)="submit()">Register</button>
        </td>
    </tr>
</table> -->



<!-- <div>/////this is another one
    <h1>Register Form</h1>
    <form #regForm = "ngForm" (ngSubmit)="RegisterSubmit(regForm.value)">
        <table>
            <tr>
                <td>Enter empId</td>
                <td><input type="text" name="empId" ngModel /></td>
            </tr>
            <tr>
                <td>Enter empName</td>
                <td><input type="text" name="empName" ngModel /></td>
            </tr>
            <tr>
                <td>Enter Salary</td>
                <td><input type="text" name="salary" ngModel /></td>
            </tr>
            <tr>
                <td>Enter doj</td>
                <td><input type="date" name="doj" ngModel /></td>
            </tr>
            <tr>
                <td>Enter Gender</td>
                <td><input type="text" name="gender" ngModel /></td>
            </tr>
            <tr>
                <td>Enter country</td>
                <td><input type="text" name="country" ngModel /></td>
            </tr>
            <tr>
                <td>Enter EmailId</td>
                <td><input type="text" name="emailId" ngModel /></td>
            </tr>
            <tr>
                <td>Enter password</td>
                <td><input type="password" name="password" ngModel /></td>
            </tr>
            <tr>
                <td></td>
                <td><button>Login</button></td>
            </tr>
        </table> 
    </form>
</div> -->

<!-- <div class="container">
    <h2>Registration Form</h2>

    <form #registrationForm="ngForm" (ngSubmit)="registerSubmit()" novalidate>

        <table align="center">
            <tr>
                <td>EmpName</td>
                <td><input type="text" name="empName" [(ngModel)]="empName" required minlength="2" maxlength="30"/></td>
            </tr>
            <tr>
                <td>Salary</td>
                <td><input type="text" name="salary" [(ngModel)]="salary" required/></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <select name="gender" [(ngModel)]="gender" required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>DateOfJoin</td>
                <td><input type="date" name="doj" [(ngModel)]="doj" required/></td>
            </tr>
            <tr>
                <td>Country</td>
                <td>
                    <select name="country" ngModel >
                        <option value="" selected>Select Country</option>
                        <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
                       
                    </select>
                </td>
            </tr>
            <tr>
                <td>PhoneNumber</td>
                <td> <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" required
                    pattern="^[6-9]\d{9}$" minlength="10" maxlength="10" />
                <div *ngIf="registrationForm.controls['phoneNumber'].hasError('required') && registrationForm.controls['phoneNumber'].touched" style="color: red;">Please Enter Phone Number</div>
                <div *ngIf="registrationForm.controls['phoneNumber'].hasError('pattern') && registrationForm.controls['phoneNumber'].touched" style="color: red;">Please Enter a Valid Phone Number</div>
            </td>
            </tr>
            <tr>
                <td>EmailId</td>
                <td> <input type="text" name="emailId" [(ngModel)]="emailId" required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" minlength="2" maxlength="30"/>
                <div *ngIf="registrationForm.controls['emailId'].hasError('required') && registrationForm.controls['emailId'].touched" style="color: red;">Please Enter Email-Id</div>
                <div *ngIf="registrationForm.controls['emailId'].hasError('pattern') && registrationForm.controls['emailId'].touched" style="color: red;">Please Enter a Valid Email-Id</div>
            </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" [(ngModel)]="password" required
                    pattern="^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{8,}$"
                    minlength="8" maxlength="8" />
                    <div *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched" style="color: red;">Please Enter Password</div>
                    <div *ngIf="registrationForm.controls['password'].hasError('pattern') && registrationForm.controls['password'].touched" style="color: red;">Please Enter a Valid Password (8 characters, 1 uppercase, 1 lowercase, 1 digit, 1 special character)</div>
                </td>   
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-primary">Register</button>
                </td>
            </tr>
        </table>
    </form>

    <div>
        <div *ngIf="registrationForm.controls['empName'].errors?.['required'] && registrationForm.controls['empName'].touched" style="color: red;">Please Enter Employee Name</div>
        <div *ngIf="registrationForm.controls['salary'].errors?.['required'] && registrationForm.controls['salary'].touched" style="color: red;">Please Enter Salary</div>
        <div *ngIf="registrationForm.controls['gender'].errors?.['required'] && registrationForm.controls['gender'].touched" style="color: red;">Please Select Gender</div>
        <div *ngIf="registrationForm.controls['doj'].errors?.['required'] && registrationForm.controls['doj'].touched" style="color: red;">Please Enter Date of Join</div>
        <div *ngIf="registrationForm.controls['country'].errors?.['required'] && registrationForm.controls['country'].touched" style="color: red;">Please Select Country</div>
     
        <div *ngIf="registrationForm.controls['empName'].errors?.['minlength'] && registrationForm.controls['empName'].touched" style="color: red;">Please Enter Atleast 2 Characters for Employee Name</div>
        
    </div>
</div> -->

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
       
</head>
<div class="container">
    <h2>Registration Form</h2>

    <form #registrationForm="ngForm" (ngSubmit)="registerSubmit(registrationForm.value)" novalidate>

        <table align="center">
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" placeholder="EmpName" name="empName" [(ngModel)]="empName"
                        required minlength="2" maxlength="30" />
                </div>
            </tr>
            <br />
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                    <input type="text" class="form-control" placeholder="salary" name="salary" [(ngModel)]="salary"
                        required />
                </div>
            </tr>
            <br />
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <select class="form-control" placeholder="Select Gender" name="gender" #gender="ngModel" ngModel required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>

                </div>
            </tr>
            <br />
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="date" class="form-control" placeholder="DateOfJoin" name="doj" [(ngModel)]="doj"
                        required />

                </div>
            </tr>
            <br />
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                    <select class="form-control"name="country" ngModel >
                        <option value="" selected>Select Country</option>
                        <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>    
                    </select>

                </div>
            </tr>
            <br />
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                    <input type="text" placeholder=" MobileNumber" name="phoneNumber" class="form-control"
                        [(ngModel)]="phoneNumber" required pattern="^[6-9]\d{9}$" minlength="10" maxlength="10" />
                    <div *ngIf="registrationForm.controls['phoneNumber'].hasError('required') && registrationForm.controls['phoneNumber'].touched"
                        style="color: red;">Please Enter Phone Number</div>
                    <div *ngIf="registrationForm.controls['phoneNumber'].hasError('pattern') && registrationForm.controls['phoneNumber'].touched"
                        style="color: red;">Please Enter a Valid Phone Number</div>

                </div>
            </tr>
            <br />
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="text" class="form-control" placeholder="Email" name="emailId" [(ngModel)]="emailId"
                        required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" minlength="2"
                        maxlength="30" />
                    <div *ngIf="registrationForm.controls['emailId'].hasError('required') && registrationForm.controls['emailId'].touched"
                        style="color: red;">Please Enter Email-Id</div>
                    <div *ngIf="registrationForm.controls['emailId'].hasError('pattern') && registrationForm.controls['emailId'].touched"
                        style="color: red;">Please Enter a Valid Email-Id</div>
                </div>
            </tr>
            <br />
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" placeholder="password" name="password"
                        [(ngModel)]="password" required
                        pattern="^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{8,}$" minlength="8"
                        maxlength="8" />
                    <div *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched"
                        style="color: red;">Please Enter Password</div>
                </div>
                <div *ngIf="registrationForm.controls['password'].hasError('pattern') && registrationForm.controls['password'].touched"
                    style="color: red;">Please Enter a Valid Password (8 characters, 1 uppercase, 1 lowercase, 1 digit,
                    1 special character)</div>

            </tr><br/>
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" placeholder="confirmPassword" name="confirmPassword"
                        [(ngModel)]="confirmPassword" required
                        pattern="^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{8,}$" minlength="8"
                        maxlength="8" />
                    <div *ngIf="registrationForm.controls['confirmPassword'].hasError('required') && registrationForm.controls['confirmPassword'].touched"
                        style="color: red;">Please Enter Password</div>
                </div>
            </tr><br/>
            <tr>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                    <select class="form-control"name="department" ngModel >
                        <option value="" selected>Select Department</option>
                        <option value="{{department.deptId}}" *ngFor="let department of departments">{{department.deptName}}</option>   
                    </select>

                </div>
            </tr>
            <br />

            <tr>
                <td>
                    <ngx-recaptcha2 #captchaElem
                      [siteKey]="siteKey"
                      formControlName="recaptcha">
                    </ngx-recaptcha2>
                </td>
            </tr>
            <tr>
                <br />
                <br />
                <div class="input-group">
                    <button type="submit" class="btn btn-primary form-control">Register</button>
                </div>
            </tr>
        </table>
    </form>

    <div>
        <div *ngIf="registrationForm.controls['empName'].errors?.['required'] && registrationForm.controls['empName'].touched"
            style="color: red;">Please Enter Employee Name</div>
        <div *ngIf="registrationForm.controls['salary'].errors?.['required'] && registrationForm.controls['salary'].touched"
            style="color: red;">Please Enter Salary</div>
        <div *ngIf="registrationForm.controls['gender'].errors?.['required'] && registrationForm.controls['gender'].touched"
            style="color: red;">Please Select Gender</div>
        <div *ngIf="registrationForm.controls['doj'].errors?.['required'] && registrationForm.controls['doj'].touched"
            style="color: red;">Please Enter Date of Join</div>
        <div *ngIf="registrationForm.controls['country'].errors?.['required'] && registrationForm.controls['country'].touched"
            style="color: red;">Please Select Country</div>

        <div *ngIf="registrationForm.controls['empName'].errors?.['minlength'] && registrationForm.controls['empName'].touched"
            style="color: red;">Please Enter Atleast 2 Characters for Employee Name</div>

    </div>
</div>