<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="employee">employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="showempbyid">showemployeebyid</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products">products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cart">cart</a>
          </li>
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="logout">Logout</a>
            </li>
        </ul>
        </form>
      </div>
    </div>
  </nav>
