Enter EmpId : <input type="text" name="empId" [(ngModel)]="empId"  /> <br/>
<button (click)="getEmployee()">GetEmployee</button>


<h3 align="center">EMPLOYEE DATA</h3>
<div *ngIf="emp">
<table align="center" border="2px" >
    <thead >
        <tr>
            <td>EMPLOYEE ID</td>
            <td>EMPLOYEE NAME</td>
            <td>SALARY</td>
            <td>GENDER</td>
            <td>DOJ</td>
            <td>COUNTRY</td>
            <td>EMAIL ID</td>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>{{emp.empId}}</td>
                <td>{{emp.empName}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.country}}</td>
                <td>{{emp.doj}}</td>
                <td>{{emp.emailId}}</td>
            </tr>
        
</tbody>
</table>
</div>
