<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Welcome {{emailId}}!</h3>
<h1 align="center">Products</h1> <br/>
        <div class="product-cart">
          <div class="product" *ngFor="let product of products">
            <img class="img-fluid" [src]="product.image" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
          </div>
        </div>
      </div>
    
      <!-- <div class="col-md-4">
        <div class="cart">
          <h2>CART ITEMS</h2>
          <div class="cart-item" *ngFor="let item of cartItems">
            <img class="img-fluid" [src]="item.product.image" alt="{{ item.product.name }}">
            <div class="cart-item-details">
              <h3>{{ item.product.name }}</h3>
              <p>Price: ${{ item.product.price }}</p>
              <p>Quantity: {{ item.quantity }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
