


<div>
    Id: {{id}} <br/>
    Name: {{name}} <br/>
    Avg: {{avg}} <br/><br/>
    <b><u>Address</u></b> <br/>
    streetno: {{address.streetno}} <br/>
    lane: {{address.lane}} <br/>
    State: {{address.state}}<br/><br/>
    
    <b><u>Hobbies</u></b> <br/>
    <ul>
        <li *ngFor="let hobby of hobbies">{{hobby}}</li>
    </ul>
    </div>