<div><h3 align="center">EMPLOYEE DATA</h3>
<table align="center" border="2px" >
    <thead >
        <tr>
            <td>EMPLOYEE ID</td>
            <td>EMPLOYEE NAME</td>
            <td>SALARY</td>
            <td>GENDER</td>
            <td>DOJ</td>
            <td>COUNTRY</td>
            <td>EMAIL ID</td>
            <td>PASSWORD</td>
            <td>experience</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of Employees">
   <td>{{employee.empId}}</td>
   <td>{{employee.empName | gender :employee.gender| uppercase}} </td>
   <td>{{employee.salary | currency:"INR"}}</td>
   <td>{{employee.gender | lowercase }}</td>
   <td>{{employee.doj | date : 'dd-MMM-yyyy'}}</td>
   <td>{{employee.country | uppercase}}</td>
   <td>{{employee.emailId}}</td>
   <td>{{employee.password}}</td>
   <td>{{employee.doj | exp}}</td>
 
    </tr>
</tbody>
</table>
</div>
